<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UT6_1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UT6_1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <UT6_1.Properties.Settings>
            <setting name="fondoColor" serializeAs="String">
                <value>LightYellow</value>
            </setting>
            <setting name="usuarioColor" serializeAs="String">
                <value>LightGreen</value>
            </setting>
            <setting name="robotColor" serializeAs="String">
                <value>LightBlue</value>
            </setting>
            <setting name="sexo" serializeAs="String">
                <value>hombre</value>
            </setting>
        </UT6_1.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <UT6_1.Properties.Settings>
            <setting name="EndPoint" serializeAs="String">
                <value>https://tema6qna.azurewebsites.net</value>
            </setting>
            <setting name="EndPointKey" serializeAs="String">
                <value>6e57ea50-298a-4764-aa26-28d7667bbf65</value>
            </setting>
            <setting name="KnowledgeBaseId" serializeAs="String">
                <value>fdd50c29-2f97-44eb-9744-745e2caaf418</value>
            </setting>
        </UT6_1.Properties.Settings>
    </applicationSettings>
</configuration>